.course-info-container {
  border-style: solid;
  border-width: 5px;
  border-color: black;
  display: flex;
  background-color: wheat;
}
.course-container {
  display: inline;
}

.course-body {
  background-color: wheat;
}
.course-body h3 {
  background-color: wheat;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.course-body p {
  background-color: wheat;
  font-family: Georgia, "Times New Roman", Times, serif;
}
