.golfer-form form {
  border-width: 5px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  background-color: wheat;
}
.golfer-form label {
  background-color: wheat;
}

.golfer-form input {
  background-color: wheat;
  color: black;
}
