.container {
  margin-top: 40px;
  margin-bottom: 20px;
}

.info-column {
  border-radius: 5px;
}
.info {
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  background-color: wheat;
}

li {
  margin-top: 10px;
}

img {
  border-radius: 20px;
  box-shadow: black;
}

.info-title h4 {
  background-color: wheat;
}
.info-body ul {
  background-color: wheat;
}
.info-body li {
  background-color: wheat;
}

.app-title h1 {
  background-color: wheat;
  border-radius: 15px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
}
