.friend-info {
  background-color: wheat;
  padding: 10px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 15px;
}

.friend-info h4 {
  background-color: wheat;
}
.friend-info p {
  background-color: wheat;
}

.friend-round-container h5 {
  background-color: wheat;
}
.round {
  background-color: wheat;
}

.friend-round-container {
  background-color: wheat;
  border-style: solid;
  border-color: black;
  border-width: 5px;
}
