.golfer {
  border-color: black;
  border-width: 5px;
  border-style: solid;
  background-color: wheat;
}

.golfer p {
  background-color: wheat;
}

.button-background {
  background-color: wheat;
}

.golfer h4 {
  background-color: wheat;
}
